## Github 
Proper tagging of Github repository for final report as per deadlines (0.5 = 0.25 + 0.25 points)

In [1]:
import pandas as pd

## Dataset and motivation slide (1 points)
How/why the dataset was collected and a description of the metadata of your dataset.

HW 1 answer:
The dataset is availabe for download or through an API at https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv and contains results of a 60 question survey from 125 respondants. A large number of the attributes are coded values which will require translation based on information from an associated Microsoft Word document.

## Actual task definition/research question (2 points)
What real-world problem are you trying to solve? What are the input and output of your
analysis?

HW 1 answer:
We are planning to analyze a survey of college students about their foods habits and general attitude about life. From this dataset, we will determine if there is a strong correlation between the dietary habits of college students and view if life is rewarding. We can determine if a person's food choices are influenced from how active they are, how often their parents cooked, and their reasons behind eating comfort food.

## Literature review (2 points)
What other work has been done in this area, and how is your work novel compared to
others?

In [2]:
df = pd.read_csv('food_coded.csv')
df.head(10)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight,Unnamed: 61,61
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9,...,1,1165.0,345,car racing,5,1,1315,187,NaN,NaN
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,2,725.0,690,Basketball,4,2,900,155,NaN,NaN
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,5,1165.0,500,none,5,1,900,I'm not answering this.,NaN,NaN
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,5,725.0,690,NaN,3,1,1315,"Not sure, 240",NaN,NaN
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,4,940.0,500,Softball,4,2,760,190,NaN,NaN
5,2.25,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4,...,4,940.0,345,None.,1,2,1315,190,NaN,NaN
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",`,...,5,940.0,690,soccer,4,1,1315,180,NaN,NaN
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1,...,1,725.0,500,none,4,2,1315,137,NaN,NaN
8,3.3,1,1,430,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2,...,5,725.0,345,none,3,2,760,180,NaN,NaN
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1,...,4,580.0,345,field hockey,5,1,900,125,NaN,NaN

## Quality of cleaning (6 points, 2 points each)
- Data cleaning and type conversion activity. Please share anything unusual
you faced during this activity.
- What did you do about missing values and why? Handling missing values
properly is very important.
- New feature/attribute creation and data summary statistics and
interpretation.


HW 1 answer:
This data is raw, uncleaned data from a survey of college students. There are many opportunities for data cleaning in this set, including imputing missing/none cases, standardizing open text responses, and taking out columns we won't be doing analysis on. 

Some of the columns that we expect to use in the analysis contain data type errors such as text instead of numeric. These records will need to be addressed with code to determine if a numeric substring exists and is within the distrubition of the other values.

There are multiple responses where text responses were given to numeric questions; the last question asking weight has responses like "I don't want to answer", nan, or lists unit for lbs. Likewise, throughout the data, nan, nun, and None are all used synonymously for failure to collect responses or missing entries.

## Visualization (8 points, 2 points each)
- Data visualization activity (box plot, bar plot, violin plot, and pairplot to see
relationships and distribution, etc.).
- Describe anything you find in the data after each visualization.
- What data visualization helped you understand about data distribution.
- What you did about possible outlier as per data distribution visualization. (Did you
confirm with your client whether it is actually an outlier or put a disclosure statement in your
notebook if you decided to remove it?)


HW 1 answer:
The survey contains two questions where the respondants were asked to list 3-5 comfort foods and provides reasons why they eat the comfort food. We see potential for the list of foods to be translated into several new attributes so that each food type can be analyzed separately. An additional feature was created from the reason question that capture the first reason mentioned. Second, third, or higher reasons can be added as new attributes.